*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
#login-btn{
  background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
}
#text-head{
  background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



